.wrapper{
    width: 100%;
    height: 768px;
    border: solid 1px;
    background-color: rgb(185, 209, 201);
}
.login{
    padding-top: 10%;
    margin-left: 50%;
    width: 300px;
}
.login .logo{
    width: 100px;
}
.login-form{
    margin-right: 100px;
}
.login-label{
    font-size: 20px;
}
.login-input{
    height: 30px;
    font-size: 18px;
}
.login-button{
    background-color: rgb(42, 130, 231);
    width: 25%;
    height: 30px;
    font-size: 20px;
}